@font-face {
    font-family: 'chivo-light';
    src: url(assets/Chivo/Chivo-Light.ttf);
}
@font-face {
    font-family: 'chivo-bold';
    src: url(assets/Chivo/Chivo-Bold.ttf);
}
html{
    height: 100%;
}
h1, h2, p {
    font-family: 'chivo-light';
}
h1 {
    color: #54E6Af;
    font-size: 26px;
}
h2 {
    color: white;
    font-size: 26px;
}
p {
    color: #C2CBE5;
    font-size: 15px;
    line-height: 25px;
    width: 75%;
    margin: 0 auto;
}
body{
    background: url(assets/mobile/image-host.jpg) rgba(18,23,37, 0.85);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg{
    max-height: 0px;
    overflow: hidden;
}
.overlay {
    color:rgba(18,23,37, 0.9);
    z-index: -1000;
}
.logo {
    margin-top: 60px;
    margin-bottom: 50px;
}
.companies {
    margin-top: 35px;
}
.comp {
    width: 15%;
    height: 15%;
    padding-left: 12.5px;
    padding-right: 12.5px;
}
.form-element {
    font-family: 'chivo-bold';
    font-size: 14px;
    line-height: 28px;
    height: 46px;
    border-radius: 28px;
    border: none;
}
input{
    /* width: 297px; */
    width: 80%;
    padding-left: 5%;
    color: #9599A5;
    background-color: #2C344B;
    margin-top: 50px;
}
button{
    /* width: 327px; */
    width: 85%;
    background-color: #54E6Af;
    margin-top: 15px;
    cursor: pointer;
}
.app-container{
    text-align: center;
}
.form-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 780px){
    h1, h2{
        font-size: 48px;
        padding-left: 15px;
    }
    h2{
        margin-top: -25px;
    }
    body {
        /* background: rgba(18,23,37, 1) url(assets/tablet/image-host.jpg) ; */
        background: rgba(18,23,37, 1);
        /* background-image: url(assets/tablet/image-host.jpg); */
        background-repeat: no-repeat;
        background-blend-mode: none;
    }
    .bg{
        max-height: 100%;
        position: absolute;
        z-index: -1;
        top: 0px;
        right: 0px;
    }
    .logo{
        position: absolute;
        margin-top: -250px;
        margin-left: 15px;
        width: 134.85px;
        height: 56px;
    }
    .app-container{
        padding-top: 30px;
        margin-top: 300px;
        background-color:rgba(18,23,37, 1);
        text-align: left;
        width: 80%;
        padding-bottom: 200px;
    }
    .comp{
        width: auto;
        height: auto;
    }
    p {
        width: 88%;
        margin: 0;
        margin-bottom: 30px;
        padding-left: 15px;
    }
    .column{
        display: flex;
        flex-direction: column-reverse;
    }
    .form-contents{
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: 15px;
    }
    button, input{
        margin: 0;
    }
    button{
        width: 162px;
        height: 1px;
        position: absolute;
        margin-left: 300px;
    }
    input{
        width: 427px;
    }
}